*{
    margin: 0;
    padding: 0;
    /* outline: 1px dotted red; */
}

.container{
    width: 600px;
    text-align: center;
    margin-top: 50px;
}

h4{
    padding: 10px;
    margin-right: 120px;
    margin-left: 120px;
    border: 2px solid black;
    font-size: small;
}

#box {
    border: 2px solid black;
    font-size:xx-large;
    font-weight: 600;
    margin: 20px;
}